.HomeHutIcon.Exit {
	transform: translateY(200px);
	opacity: 0;
}
.HomeHutIcon.Enter {
	transition: 0.4s;
}
.HomeHutIcon.col-3 {
}
.HomeHutIcon {
	position: relative;
	padding: 0 !important;
	margin: 10px 0px;
	border-radius: 10px;
	border: 1px solid black;
	overflow: hidden;
	min-height: 460px
}
/*.Enter .HomeHutIconContent {
	transform: scaleY(1);
transition:0.5s;
transition-delay: 0.5s;
overflow:hidden;
}
.HomeHutIconContent{transform: scaleY(0);
}*/
.HomeHutIconImg {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.Enter .HomeHutIconHeader {
	position: absolute;
	top: 230px;
	right: 0px;
	height: 70px;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	transition: 0.8s;
	transition-delay: 0.4s;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
	z-index: 10;
}
.HomeHutIconHeader h3 {
	padding-right: 20px;
}
.HomeHutIconHeader {
	position: absolute;
	bottom: 0px;
	width: 0px;
}

.CardBreak {
	position: absolute;
	top: 265px;
	width: 100%;
	z-index: 20;
}
