.Header-BG.Updates {
	background-image: url("../../assets/snow 910.jpg");
	background-position: center 80%;
	background-attachment: scroll;
	height: 400px;
	position: fixed;
	top: 0;
	z-index: -1;
}

.UpdateContainer {
	padding-top: 40px;
	margin-top: 400px;
	position: relative;
}

.UpdateContainer .AddButton{
}