.Icon {
	width: 350px;
	height: 350px;
	background-size: cover;
	margin: 10px;
	transition: 0.5s;
	overflow: hidden;
	position: relative;
}

.Icon .Info {
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px 10px;
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 100%;
	margin-left: 0px;
	transform: translateY(50px);
	transition: 0.3s;
	height: 100%;
	padding: 30px 0px 0px 0px;
}

.Icon h4 {
	font-size: 42px;
}
.Icon h6 {
	font-size: 47px;
}

.Icon.Visible .Info {
	transform: translateY(0px);
	opacity: 1;

	top: 0;
}

.Icon.Icon1 {
	background-image: url(../../../../assets/alex 11.jpg);
}
.Icon.Icon2 {
	background-image: url(../../../../assets/alex 13.jpg);
}
.Icon.Icon3 {
	background-image: url(../../../../assets/HutSociety_CairnCommander.jpg);
}
.Icon.Icon4 {
	background-image: url(../../../../assets/HutSociety_McMurdo4.jpg);
}
.Icon.Icon0 {
	background-image: url(../../../../assets/HutSociety_LakeHangingGlacier.jpg);
}
